{% extends "app/layout.html" %}

{% block content %}

Upload spreadsheet <br>
<form method="post">
{% csrf_token %}
<input type="submit" value="Load Data">
</form>

<form>
{% csrf_token %}
<input type="text" placeholder="zip" name="zip">
<input type="submit" value="Filter">
</form>

<form>
{% csrf_token %}
<input type="text" placeholder="Gender" name="gender">
<input type="submit" value="Filter">
</form>

<form>
{% csrf_token %}
<input type="text" placeholder="ESDA" name="esda">
<input type="submit" value="Filter">
</form>


<table>

<h2>MasterTable</h2>

    <thead>
        <th>Name</th>
        <th>Cl_ID</th>
        <th>ESDA</th>
        <th>Contract ID</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>ZIP</th>
        <th>Country</th>
        <th>County</th>
        <th>Gender</th>
    </thead>

	{% for row in rows %}
	<tr>
		<td>{{ row }} </td>
		<td>{{ row.cl }} </td>
		<td>{{ row.esda }} </td>
		<td>{{ row.contract }} </td>
		<td>{{ row.street_address }} </td>
		<td>{{ row.city }} </td>
		<td>{{ row.state }} </td>
		<td>{{ row.zipcode }} - {{ row.extend_zip }} </td>
		<td>{{ row.country }} </td>
		<td>{{ row.us_county }} </td>
		<td>{% if row.is_male %} M {% else %} F {% endif %} </td>
	{% endfor %}
</table>

{% endblock %}
